<div class="parent">
    <form class="example-form">
      <h1>Create New Task</h1>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Task Name</mat-label>
        <input matInput placeholder="Enter Task Name" name="listName" [(ngModel)]="newTaskName"/>
      </mat-form-field>
      <div class="button-group">
        <button mat-stroked-button (click)="goBack()">Cancel</button>
        <button mat-flat-button color="warn" (click)="saveEdit()">Edit Task</button>
      </div>
    </form>
  </div>
  