<div class="parent">
  <form class="example-form">
    <h1>Create New List</h1>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>List Name</mat-label>
      <input matInput placeholder="Enter List Name" name="listName" [(ngModel)]='listName'/>
    </mat-form-field>
    <div class="button-group">
      <button mat-stroked-button (click)="goBack()">Cancel</button>
      <button mat-flat-button color="warn" (click)="addList()">+ New List</button>
    </div>
  </form>
</div>
